/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: 'Inter';
	src: url('../fonts/NunitoSans-VariableFont.woff2') format('woff2-variations');
	src: url('../fonts/NunitoSans-VariableFont.woff2') format('woff2')
		tech('variations');
	font-weight: 300 700;
} */
