ul {
	list-style: none;
}
.button {
	background-color: transparent;
	border: 1px solid #f3f3f2;
	border-radius: 8px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.3s opacity ease-in-out, 0.3s scale ease-in-out;
	&:hover {
		opacity: 0.5;
		scale: 1.1;
	}
}
.green__btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #fff;
	background-color: #9dd458;
	border-radius: 18px;
	padding: 18px;
	font-weight: 600;
	transition: 0.4s scale ease-in-out;
	&::before {
		position: absolute;
		content: '';
		background-image: url('../public/img/arrow.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 13.714px;
		height: 12px;
		right: 40px;
	}
	&:active {
		background: lightgreen(#9dd458, 70%);
		scale: 1.1;
	}
	&:disabled {
		background-color: #bebebe;
		cursor: default;
		animation: button-loading 0.6s ease-in-out infinite;
	}
}

.green__btn--empty {
	width: 245px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #fff;
	background-color: #9dd458;
	border-radius: 18px;
	padding: 18px;
	font-weight: 600;
	transition: 0.4s scale ease-in-out;
	&::after {
		position: absolute;
		content: '';
		background-image: url('../public/img/back_arrow.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 13.714px;
		height: 12px;
		left: 25px;
	}
	&:active {
		background: lightgreen(#9dd458, 70%);
		scale: 1.1;
	}
}

* {
	font-family: 'Inter', system-ui;
}
.input {
	border: none;
	padding: 10px;
	font-size: 16px;
	&:focus {
		outline: none;
		border: none;
	}
}

body {
	margin: 0;
	font-family: 'Inter', system-ui;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}
.wrapper {
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
	border-radius: 20px;
	max-width: 1080px;
	margin: 50px auto;
}

.search__block {
	border: 1px solid #f3f3f3;
	border-radius: 10px;
	padding: 0 15px;
}

@keyframes button-loading {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
